@use '../colors/colors.scss' as colors;
@import '../utils/mixins';

.header {
  @include align-middle();
  width: 100%;
  flex-direction: column;
  padding-top: 200px;
  background-color: colors.$primary;
  background-image: url('../../images/carbon-fibre.png');
  color: colors.$secondary;
}

@media (min-width: 1024px) {
  .header {
    margin-top: 200px;
    padding-top: 100px;
  }
}
