@use '../colors/colors.scss' as colors;
@use '../fonts/fonts.scss' as fonts;

.nav {
  height: 120px;
  width: 100vw;
  background-color: colors.$primary;
  color: colors.$secondary;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;

  &__logo {
    font-family: fonts.$primary;
  }

  &__write-new-tweet:hover {
    cursor: pointer;
  }

  &__arrow {
    padding-top: 0.6em;
    text-align: center;
    animation: moveUpDown 0.5s infinite alternate;
  }
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.scroll-top {
  display: none;
  border: none;
  outline: none;
  background: colors.$primary;
  padding: 2rem;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
  transition: background-color 0.3s ease;
}

.scroll-top i {
  color: colors.$secondary;
  transition: color 0.3s ease;
}

.scroll-top:hover {
  background: colors.$secondary;
  animation: moveUpDown 0.5s infinite alternate;
}

.scroll-top:hover i {
  color: colors.$primary;
}
