@use '../colors/colors.scss' as colors;
@use '../fonts/fonts.scss' as fonts;

.new-tweet {
  display: none;
}

.new-tweet form {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
}

.new-tweet label {
  display: none;
}

#tweet-text {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  resize: none;
  border-bottom: 3px solid colors.$primary;
}

textarea::placeholder {
  color: colors.$border-article;
}

.new-tweet_col2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: fonts.$primary;
}

.new-tweet_col2 button {
  border: none;
  background: colors.$primary;
  color: colors.$secondary;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}

.new-tweet_col2 button:hover {
  cursor: pointer;
}

.error {
  display: none;
  border: 5px solid colors.$error;
  color: colors.$error;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 2rem;
}
