nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.logo {
  font-family: 'Bungee', sans-serif;
}

.arrow {
  padding-top: 0.6em;
  text-align: center;
  animation: moveUpDown 0.5s infinite alternate;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.write-new-tweet:hover {
  cursor: pointer;
}

.scroll-top {
  display: none;
  border: none;
  outline: none;
  background: red;
  padding: 2rem;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
  transition: background-color 0.3s ease;
}

.scroll-top i {
  color: white;
  transition: color 0.3s ease;
}

.scroll-top:hover {
  background: white;
  animation: moveUpDown 0.5s infinite alternate;
}

.scroll-top:hover i {
  color: red;
}
