nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.logo {
  font-family: 'Bungee', sans-serif;
}

.arrow {
  padding-top: 0.2em;
  text-align: center;
}
