:export {
  primary: #4056a1;
  secondary: #ffffff;
  body-bg: #f4f1ec;
  border-article: #545149;
  error: #ff0000;
}

:export {
  primary: "Bungee", sans-serif;
  secondary: "Source Sans Pro", sans-serif;
}

.nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.nav__logo {
  font-family: "Bungee", sans-serif;
}
.nav__write-new-tweet:hover {
  cursor: pointer;
}
.nav__arrow {
  padding-top: 0.6em;
  text-align: center;
  animation: moveUpDown 0.5s infinite alternate;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
.scroll-top {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border: none;
  outline: none;
  background: #4056a1;
  padding: 2rem;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
  transition: background-color 0.3s ease;
}

.scroll-top i {
  color: #ffffff;
  transition: color 0.3s ease;
}

.scroll-top:hover {
  background: #ffffff;
  animation: moveUpDown 0.5s infinite alternate;
}

.scroll-top:hover i {
  color: #4056a1;
}
